<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2025 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pixel_sucuri" frontName="pixel_sucuri">
            <module name="PixelOpen_Sucuri" before="Magento_Backend"/>
        </route>
    </router>
</config>
